@charset "utf-8";
/* CSS Document */
/* Preview Pop Up */

#mask {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  filter: alpha(Opacity=50); 
  opacity: 0.50;
  display: none;
}

#mask.loading {
  background: #000 url(../images/icon_loading.gif) center center no-repeat;
}

.popup {
  margin: 0 auto;
  width: 795px;
  height: 501px;
  background: #000;
  -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3+, Chrome */
  border-radius: 10px; /* Opera 10.5, IE 9 */
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 1001; 
  display: none;
}

.popup-header {
  padding: 0 15px;
  width: 765px;
  height: 31px;
  overflow: hidden;
}

.popup-title {
  font-size: 14px;
  color: #fff;
  line-height: 31px;
  float: left;
}

#popup-close {
  margin: 6px 0 0 0;
  width: 18px;
  height: 18px;
  background: url(../images/btn_popupClose.png) 0 0 no-repeat;
  float: right;
}

#popup-close:hover {
  background-position: 0 -100px;
}

.confirm-box {
  padding: 10px;
  width: 400px;
  height: 200px;
  background: #fff;
  border: #000 12px solid;
  -moz-box-shadow: 0 0 10px #000000; /* FF3.5+ */
  -webkit-box-shadow: 0 0 10px #000000; /* Saf3.0+, Chrome */
  box-shadow: 0 0 10px #000000; /* Opera 10.5, IE 9.0 */
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  display: none;
}

.confirm-box p {
  padding: 10px;
  height: 140px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #585953;
  text-align: left;
}

.confirm-box .linebreak {
  padding: 20px 0 0 0;
  display: block;
}

.confirm-box #control li {
  display: inline;
}

.confirm-box .btn {
  margin: 0;
  float: none;
  display: inline-block;
}

#btn-boxclose {
  margin: -28px -28px 0 0;
  width: 30px;
  height: 30px;
  background: url(../images/btn_terminate.png) 0 0 no-repeat;
  float: right;
}

#btn-boxclose:hover {
  background-position: 0 -100px;
}

